* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-bg: white;
  --color-bg-code: #f6f8fa;
  --color-bg-table: #d1d9e0;
  --color-text: #0d1117;
  --color-text-default: #28323e;
}

:root:has(.dark) {
  --color-bg: #0d1117;
  --color-bg-code: #1e2633;
  --color-bg-table: #222939;
  --color-text:  rgb(240, 246, 252);
  --color-text-default: rgb(217, 219, 223);
}

body {
  width: 100%;
  min-height: 100vh;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:  var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  transition: background-color .3s linear;
}

.lock-scroll {
  overflow: hidden;
}

#app {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

ul {
  margin: 0;
}

button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

h1 {
  font-size: 2rem;
}

h2, h3, h4 {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }

  h2, h3, h4 {
    font-size: 1rem;
  }
}